<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container">
<div class="row">
    <div class="col-6">
        <h1>All Courses</h1>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-baseline mt-3">
        <a href="/courses/create" class="btn btn-warning me-3">Add New Course</a>
    </div>
</div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-10 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Instructor</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach((course) => { %>
                    <tr>
                        <td><%= course.title %></td>
                        <td><%= course.instructor %></td>
                        <td>
                            <a href="/courses/show/<%= course.course_id %>" class="btn btn-info">All Students </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
    </div>
    </div>
</div>
<%- include('../partials/bottom') %>