<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container">
<div class="row">
    <div class="col-6">
        <h1>Students Page </h1>
        <h2>Total Students: <%= students.length %></h2>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
        <a href="/students/create" class="btn btn-warning me-3">Add New Student</a>
    </div>
</div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-10 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach((student) => { %>
                    <tr>
                        <td><%= student.first_name %></td>
                        <td><%= student.last_name %></td>
                        <td><%= student.email %></td>
                        <td>
                            <a href="/students/show/<%= student.student_id %>" class="btn btn-info">Profile</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    </div>
</div>
<%- include('../partials/bottom') %>